.checkbox {
    width: 500px;
    margin-left: 26%;
    margin-top: 20px;
}

/* .checkbox.hidden {
    display: none;
} */

.checkbox-inner {
    display: flex;
    justify-content: space-between;
}

p.text-done {
    text-decoration: line-through;
}