@import url(./todo/todo.css);
@import url(./todoForm/todoForm.css);
@import url(./todoList/todoList.css);

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}